$color-white: #fff;
$app-bg-color: #5e6178;

%background {
	background: #75788e;
	background: -webkit-radial-gradient(center, ellipse cover,  #75788e 0%,#5e6178 100%);
}

body {
	background: $color-white;
	margin: 0;
}

.app {
	@extend %background;
	max-width: 800px;
	margin: 0 auto;
}